#local
  {
    "mcpServers": {
      "monolynx": {
        "command": "npx",
        "args": [
          "-y",
          "mcp-remote",
          "https://open.monolynx.com/mcp/",
          "--header",
          "Authorization: Bearer osk_<...>"
        ]
      },
      "filesystem": {
          "command": "npx",
          "args": [
            "-y",
            "@modelcontextprotocol/server-filesystem",
            "/Users/username/Desktop",
            "/path/to/other/allowed/dir"
          ]
        }
    }
  }

# prod
  {
    "mcpServers": {
      "monolynx": {
        "command": "npx",
        "args": [
          "-y",
          "mcp-remote",
          "https://open.monolynx.com/mcp/",
          "--header",
          "Authorization: Bearer osk_<...>"
        ]
      }
    }
  }
