# prod
  {
    "mcpServers": {
      "monolynx": {
        "command": "npx",
        "args": [
          "-y",
          "mcp-remote",
          "https://monolynx.com/mcp/",
          "--header",
          "Authorization: Bearer osk_<...>"
        ]
      }
    }
  }
